
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-evenly;
  }

  .navigation {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  .content {
    margin: 0;
    background-image: url("images/eclips.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    color: white;
    width: 50%;
    font-size: 16px;
    margin: 60px 0 0 24px;
    font-weight: 500;
  }

  .navigation i {
    color: white;
    float: right;
    margin: 60px 24px 0 0;
  }

  .title {
    margin-top: 63px;
    font-size: 40px;
    font-weight: 700px;
    line-height: 72px;
    color: #7d73fc;
  }

  .occupation {
    margin-top: 12px;
    font-size: 32px;
    font-weight: 500;
    color: #edecff;
  }

  .intoduction {
    max-width: 75%;
    margin-top: 40px;
    color: #c8c8d4;
    text-align: center;
  }

  .stacks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 33px;
    border-top: 1px solid #646369;
    border-bottom: 1px solid #646369;
    padding: 20px 0 20px 0;
  }

  .tech {
    width: 50%;
    color: #f5f5ff;
    font-size: 15px;
    font-weight: 400;
  }

  .tech ul {
    list-style-type: none;
    width: 50%;
    flex-direction: row;
  }

  .stackesHeader {
    font-size: 12px;
    color: #9490ff;
    text-align: left;
  }

  .socialmedia {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    align-content: space-between;
    width: 30vh;
    margin-top: 16px;
  }

  .socialmedia li {
    width: 25%;
  }

  .detailContent {
    display: grid;
    margin: 20%;
    width: 100%;
  }

  .contactus {
    margin: 24px;
    margin-top: 55px;
    column-gap: 50px;
    display: flex;
    flex-direction: column;
  }

  .contactustitle {
    color: #9390ff;
    font-size: 32px;
    text-align: center;
  }

  .contactus p {
    margin-top: 50px;
    text-align: center;
    color: #f5f5ff;
    font-size: 16px;
  }

  .contactusform {
    margin-top: 30px;
  }

  .contactusform input {
    margin-bottom: 8px;
    font-size: 15px;
    height: 48px;
    width: 100%;
  }

  .contactusform textarea {
    width: 100%;
    height: 80%;
  }

  .works {
    margin: 24px;
    column-gap: 50px;
  }

  .workCard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .workCard img {
    margin-top: 30px;
    max-width: 100%;
  }

  .workCard h3 {
    margin-top: 48px;
    font-size: 32px;
    color: #fff;
  }

  .workCard p {
    margin-top: 24px;
    color: #dcdce8;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }

  .seebutton {
    margin-top: 25px;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #edecff;
    font-size: 12px;
  }

  .workTechs {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: #555;
  }

  .workTechs li {
    color: #fff;
  }

  .worktitile {
    margin-left: 24px;
    font-size: 40px;
    color: #9490ff;
    padding-bottom: 25px;
    border-bottom: 1px solid #646369;
  }

  .footer {
    width: 100%;
    margin: 24px;
    margin-top: 100px;
    border-top: 1px solid #3a3837;
  }
}
