.error-message {
  color: red;
  display: block;
  margin-top: 12px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: rgba(80, 80, 80, 0.7);
  margin: 5% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 50%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.modal-title {
  font-size: 2vw;
  color: #fff;
}

.modal-close {
  border: none;
  background: none;
  font-size: 2vw;
  color: #fff;
}

.modal-body-img {
  width: 100%;
  margin: 5px;
}

.modal-body-img img {
  width: 100%;
  height: 100%;
  height: auto;
}

.modal-body-detail {
  margin: 2% 25%;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.modal-body-technologies {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: auto;
}

.modal-body-technologies li {
  padding: 2px 25px;
  color: #fff;
}

.modal-body-actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body-actions button {
  padding: 12px 12px;
  color: white;
  background-color: #7d73fc;
  margin-left: 12px;
}

.modal-body-actions img {
  width: 15px;
  margin-left: 5px;
}

.white {
  color: #fff;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #191765;
    font-family: 'Roboto', sans-serif;
    background-image: url("Images/eclip3.svg");
    background-position: 100% 45%;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
  }

  .modal-content {
    width: 80%;
    height: 80vh;
  }

  .modal-body-detail {
    margin: 2% 2%;
    text-align: center;
    font-size: 14px;
    padding: 25px;
    color: #fff;
  }

  .modal-title {
    font-size: 20px;
    color: #fff;
  }

  .modal-close {
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
  }

  .modal-body-actions {
    display: flex;
    flex-direction: column;
  }

  .modal-body-actions button {
    font-size: 10px;
    padding: 12px 12px;
    color: white;
    background-color: #7d73fc;
    margin-top: 12px;
  }

  .modal-body-actions img {
    width: 15px;
    margin-left: 5px;
  }

  .mobile_nav {
    background-color: #191765;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .mobile_nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }

  .mobile_menu {
    margin-top: 10px;
    padding-left: 40px;
    list-style-type: none;
    background-image: url('Images/mobile_menu_top.png');
    background-repeat: no-repeat;
    background-position: 0 8%;
    height: 100%;
  }

  .mobile_nav_close {
    margin: 60px 30px 5px 40px;
  }

  .mobile_nav_close img {
    float: right;
    width: 15px;
    height: 15px;
  }

  .show_hide {
    display: none;
  }

  .navigation {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  .desktop_element {
    display: none;
  }

  .content {
    margin: 0;
    background-image: url("Images/eclips.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    color: white;
    width: 50%;
    font-size: 16px;
    margin: 60px 0 0 24px;
    font-weight: 500;
  }

  .navigation i {
    color: white;
    float: right;
    margin: 60px 24px 0 0;
  }

  .title {
    margin-top: 63px;
    margin-left: 60px;
    font-size: 40px;
    line-height: 72px;
    color: #7d73fc;
  }

  .occupation {
    margin-top: 12px;
    margin-left: 60px;
    font-size: 32px;
    font-weight: 500;
    color: #edecff;
  }

  .intoduction {
    max-width: 75%;
    margin-top: 40px;
    color: #c8c8d4;
    text-align: center;
  }

  .stacks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 33px;
    border-top: 1px solid #646369;
    border-bottom: 1px solid #646369;
    padding: 20px 0 20px 0;
  }

  .tech {
    width: 50%;
    color: #f5f5ff;
    font-size: 15px;
    font-weight: 400;
  }

  .tech ul {
    list-style-type: none;
    width: 50%;
    flex-direction: row;
  }

  .stackesHeader {
    font-size: 12px;
    color: #9490ff;
    text-align: left;
  }

  .socialmedia {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    align-content: space-between;
    width: 30vh;
    margin-top: 16px;
  }

  .socialmedia li {
    width: 25%;
  }

  .detailContent {
    display: grid;
    width: 100%;
    background-image: url("Images/eclips2.svg");
    background-position: 0% 10%;
    background-repeat: no-repeat;
  }

  .contactus {
    margin: 24px;
    margin-top: 55px;
    column-gap: 50px;
    display: flex;
    flex-direction: column;
  }

  .contactustitle {
    color: #9390ff;
    font-size: 32px;
    text-align: center;
  }

  .contactus p {
    margin-top: 50px;
    text-align: center;
    color: #f5f5ff;
    font-size: 16px;
  }

  .contactusform {
    margin-top: 30px;
  }

  .contactusform input {
    margin-bottom: 8px;
    font-size: 15px;
    height: 48px;
    width: 100%;
  }

  .contactusform textarea {
    width: 100%;
    height: 80%;
    color: black;
  }

  .works {
    column-gap: 50px;
  }

  .workCard {
    padding: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  #thirdcard {
    background-image: url("Images/eclips4.svg");
    background-repeat: no-repeat;
    background-position: 0% 60%;
  }

  .workCard img {
    margin-top: 30px;
    max-width: 100%;
  }

  .workCard h3 {
    margin-top: 48px;
    font-size: 32px;
    color: #fff;
  }

  .workCard p {
    margin-top: 24px;
    color: #dcdce8;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }

  .seebutton {
    margin-top: 25px;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #000;
    font-size: 12px;
  }

  .workTechs {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: #555;
  }

  .workTechs li {
    padding-right: 40px;
    color: #fff;
  }

  .worktitile {
    margin-top: 100px;
    margin-left: 24px;
    font-size: 40px;
    color: #9490ff;
    padding-bottom: 25px;
    border-bottom: 1px solid #646369;
  }

  .listseparator {
    border-right: 1px solid #555;
  }

  .submit_button {
    margin-top: 25px;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #000;
    font-size: 12px;
    align-items: center;
  }

  footer {
    margin-top: 140px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid #646369;
  }

  .socialmediabuttom {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: baseline;
    align-content: space-between;
    margin-top: 16px;
    width: 30%;
  }

  .email {
    margin-top: 18px;
    color: #ebebff;
    font-size: 20px;
  }

  .mobile_menu a {
    text-decoration: none;
    font-size: 24px;
    color: white;
  }

  .mobile_menu li {
    margin-top: 20px;
    padding: 12px;
  }

  .mobile_menu li:hover {
    background-color: #19167a;
  }
}

@media screen and (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #191765;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    background-image: url('/Images/circleOne.svg');
    background-position: 90% 14%;
    background-repeat: no-repeat;
  }

  header {
    height: 200px;
    width: 100%;
    display: flex;
    padding-top: 26px;
    color: #fff;
  }

  .error-message {
    color: red;
    display: block;
    margin-top: 0;
  }

  .name {
    /* background-color: pink; */
    width: 100%;
    margin-left: 154px;
    margin-top: 25px;
    font-size: 18px;
  }

  .navigation {
    /* background-color: green; */
    width: 100%;
    text-align: right;
    font-size: 15px;
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
  }

  #dropdown {
    margin-right: 20%;
    width: 22px;
    height: 18px;
  }

  .navigationitem_desktop {
    margin-left: 32px;
    color: inherit;
    text-decoration: inherit;
  }

  .navigationitem_desktop a {
    color: inherit;
    text-decoration: inherit;
  }

  .mobile_element {
    display: none;
  }

  .content {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Images/circleOne.svg');
    background-position: 4% 0%;
    background-repeat: no-repeat;
  }

  .title {
    text-align: center;
  }

  .title h1 {
    color: #9390ff;
    font-size: 90px;
  }

  .occupation {
    margin-top: 24px;
  }

  .occupation h2 {
    text-align: center;
    color: #dfe1e6;
    font-size: 40px;
  }

  .intoduction {
    margin-top: 88px;
    text-align: center;
    font-size: 20px;
    width: 25%;
    color: #b3bac5;
  }

  .stacks {
    /* background-color: red; */
    width: 25%;
    margin-top: 33px;
    padding-top: 37px;
    padding-bottom: 41px;
    display: flex;
    border-top: 1px solid #646369;
    border-bottom: 1px solid #646369;
    justify-content: space-between;
  }

  .tech ul {
    list-style-type: none;
    margin-top: 24px;
    color: white;
  }

  .workTechs li {
    padding-right: 40px;
    color: #fff;
  }

  .tech ul li {
    margin-top: 13px;
  }

  .stackesHeader {
    color: #9390ff;
    font-size: 18px;
    margin-top: 37px;
  }

  .detailContent {
    margin-top: 230px;
    width: 100%;
  }

  .worktitile {
    margin-left: 142px;
    font-size: 40px;
    color: #9490ff;
    padding-bottom: 45px;
    border-bottom: 1px solid #646369;
  }

  .works {
    padding-top: 45px;
    display: grid;
  }

  .workCard {
    padding-bottom: 196px;
    display: flex;
  }

  .image_container {
    width: 100%;
  }

  .projectdetail {
    width: 100%;
  }

  .workCard img {
    margin-left: 142px;
    width: 684px;

    /* height: 448px; */

    /* width: auto; */
    height: auto;
    background-color: pink;
  }

  .odd {
    flex-direction: row-reverse;
  }

  .odd img {
    margin: 0;
  }

  .workCard h3 {
    margin-top: 48px;
    margin-left: 24px;
    font-size: 32px;
    color: #fff;
    text-align: left;
  }

  .workCard p {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 142px;
    color: #dcdce8;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }

  .workTechs {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: #555;
  }

  .listseparator {
    border-right: 1px solid #555;
  }

  .seebutton {
    margin-top: 25px;
    margin-left: 24px;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #000;
    font-size: 12px;
  }

  .odd .projectdetail {
    grid-column: 1;
    float: right;
  }

  .odd .test {
    float: left;
  }

  .odd p,
  .odd h3 {
    margin-left: 142px;
  }

  .odd .seebutton {
    margin-top: 25px;
    margin-left: 142px;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #000;
    font-size: 12px;
  }

  .contactus {
    display: flex;
    justify-content: center;
  }

  .contactus h2 {
    text-align: center;
    color: #9390ff;
    font-size: 40px;
  }

  .contactus_container {
    width: 40%;
  }

  .contactus p {
    text-align: center;
    font-size: 20px;
    color: #ebebff;
    margin-top: 24px;
  }

  .contactusform {
    margin-top: 88px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .contactusform input {
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 15px;
  }

  .contactusform textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  footer {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #646369;
  }

  .socialmediabuttom {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: baseline;
    align-content: space-between;
    margin-top: 16px;
    width: 20%;
  }

  .submit_button {
    margin: 25px auto auto auto;
    width: 25%;
    height: 48px;
    background-color: #7d73fc;
    color: #000;
  }

  .middlenavigator {
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 106px;
  }

  .down {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 20px;
    color: #b3bac5;
  }

  .socialmedia {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: baseline;
    align-content: space-between;
    margin-top: 16px;
    width: 80%;
  }

  .email {
    margin-top: 12px;
    color: #ebebff;
    font-size: 20px;
  }

  #first {
    background-image: url(Images/leftUp.svg);
    background-repeat: no-repeat;
    background-position: 0% %;
  }

  #secondcard {
    background-image: url(Images/rightUp.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  #thirdcard {
    background-image: url(Images/rightBottom.svg);
    background-repeat: no-repeat;
    background-position: 0% 90%;
  }

  #fourthcard {
    background-image: url(Images/leftBottom.svg);
    background-repeat: no-repeat;
    background-position: 100% 10%;
  }
}

.down_button {
  margin-left: 10px;
  height: 22px;
}

.transition_button {
  opacity: 1;
  transition: all 250ms ease;
}

.transition_button:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

label {
  display: none;
}
